@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap');

body {
    font-family: 'Prompt', sans-serif;
    background-color: #F5F7FA;
}

/* Sidebar Styling */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #1A237E;
    /* Indigo Primary */
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #12185b;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px 20px;
    font-size: 1.1em;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

#sidebar ul li a:hover,
#sidebar ul li.active>a {
    color: #1A237E;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

/* Main Content Styling */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.top-navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.card-stat {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.card-stat:hover {
    transform: translateY(-5px);
}